@font-face {
    font-family: 'Azonix';
    src: url('./Azonix.otf');
}


@font-face {
    font-family: 'Nasalization';
    src: url('./nasalization-rg.ttf');
}

@font-face {
    font-family: 'Agency';
    src: url('./Agency FB.ttf');
}